@using ProfitWise.Web.Attributes
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "ShopifyAuth", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (HttpContext.Current.PullUserBriefFromContext().IsAdmin)
        {
            <li>
                @Html.ActionLink(HttpContext.Current.PullUserBriefFromContext().UserName + " (" +
                                 HttpContext.Current.PullUserBriefFromContext().RolesFlattened + ")",
                    "Index", "AdminHome", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
        }
        else
        {
            <li>Hello,
                @Html.ActionLink(HttpContext.Current.PullUserBriefFromContext().UserName + " (" +
                                 HttpContext.Current.PullUserBriefFromContext().RolesFlattened + ")",
                    "Index", "UserHome", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        }

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>Oh noes! You should not be seeing this!!!</li>
    </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
        </ul>
                -->
}
