@using ProfitWise.Web.Attributes
@{
    var authenticatedContext = Context.AuthenticatedContext();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>ProfitWise - Know Your Profitability</title>
    @Html.Partial("_StyleAndScripts")
    
    @* Authenticated Users' context will carry these variables *@
    @if (authenticatedContext != null && !authenticatedContext.IsImpersonated)
    {
        <script>
            ProfitWiseShopify.AppInitialize('@authenticatedContext.ShopifyApiKey', '@authenticatedContext.ShopUrl');
            ProfitWiseShopify.BarInitialize('@authenticatedContext.PageTitle');
        </script>    
    }
    
    <!-- Start of logicautomated Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b779e27c-ee94-479b-8fda-4196f1051af7"> </script>
    <!-- End of logicautomated Zendesk Widget script --></head>
<body>
@RenderBody()
@Html.Partial("_PageFooter")
@Html.Partial("_SpinnerLayer")


@if (authenticatedContext != null && authenticatedContext.IsImpersonated)
{
    @Html.Partial("_Impersonation")
}
    
<style>
    .shepherd-tour-bg {
        position: fixed;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        z-index:900;
        display: none;
    }
    .shepherd-tour-bg-light {
        background-color: #999;
        opacity: 0.1;        
    }
    .shepherd-tour-bg-dark {
        background-color: #000;
        opacity: 0.7;        
    }
    
    .shepherd-step {
        z-index: 910;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 500px !important;
        min-width: 300px !important;
    }
    .shepherd-exit-button {
        background-color: #EEE !important;
        color: #777 !important;
    }
</style>
<div class="shepherd-tour-bg shepherd-tour-bg-dark"></div>
<div class="shepherd-tour-bg shepherd-tour-bg-light"></div>

</body>
</html>

