@using ProfitWise.Web.Attributes
@{
    var authenticatedContext = Context.AuthenticatedContext();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>ProfitWise - Know Your Profitability</title>
    @Html.Partial("_StyleAndScripts")
    
    @* Authenticated Users' context will carry these variables *@
    @if (authenticatedContext != null && !authenticatedContext.IsImpersonated)
    {
        <script>
            ProfitWiseShopify.AppInitialize('@authenticatedContext.ShopifyApiKey', '@authenticatedContext.ShopUrl');
            ProfitWiseShopify.BarInitialize('@authenticatedContext.PageTitle');
        </script>
    
        <!-- Start of profitwise Zendesk Widget script -->
        <script>
        /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","profitwise.zendesk.com");
        /*]]>*/</script>
        <!-- End of profitwise Zendesk Widget script -->
    }
</head>

<body>
@RenderBody()
@Html.Partial("_PageFooter")
@Html.Partial("_SpinnerLayer")
   
    
@if (authenticatedContext != null && authenticatedContext.IsImpersonated)
{
    @Html.Partial("_Impersonation")
}
    
<style>
    .shepherd-tour-bg {
        position: fixed;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        z-index:900;
        display: none;
    }
    .shepherd-tour-bg-light {
        background-color: #999;
        opacity: 0.1;        
    }
    .shepherd-tour-bg-dark {
        background-color: #000;
        opacity: 0.7;        
    }
    
    .shepherd-step {
        z-index: 910;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 500px !important;
        min-width: 300px !important;
    }
    .shepherd-exit-button {
        background-color: #EEE !important;
        color: #777 !important;
    }
</style>
<div class="shepherd-tour-bg shepherd-tour-bg-dark"></div>
<div class="shepherd-tour-bg shepherd-tour-bg-light"></div>

</body>
</html>

