@using ProfitWise.Web.Models
@using ProfitWise.Web.Plumbing

@{
    var commonContext = ViewBag.CommonContext as CommonContext;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>ProfitWise - Know Your Profitability</title>

    @Html.Partial("_UserScripts")
    @{
        if (commonContext != null)
        {
            /*
            <!-- Shopify JavaScript API -->
            <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
            <script>
                ProfitWiseShopify.AppInitialize('@commonContext.ShopifyApiKey', '@commonContext.ShopUrl');
                ProfitWiseShopify.BarInitialize('@commonContext.PageTitle');
            </script>*/

        }
    }
</head>

<body>
    @RenderBody()

    @Html.Partial("_PageFooter")

    @Html.Partial("_SpinnerLayer")
</body>
</html>
