@model ProfitWise.Web.Models.UserModelBase

@using OAuthSandbox.Attributes
@using ProfitWise.Web.Attributes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>


    <script type="text/javascript">
        ShopifyApp.init({
            apiKey: '@Model.ShopifyApiKey',
            shopOrigin: 'https://@Model.UserBrief.Domain'
        });

        ShopifyApp.ready(function() {
            ShopifyApp.Bar.initialize({
                title: '@Model.PageTitle',
                buttons: {
                    secondary: [
                        {
                            label: "CoGS Sandbox",
                            href: "/ProfitWise/Static/CoGS.html",
                            target: "app",
                        },

                        // Dropdown example
                        {
                            label: "Navigate to...",
                            type: "dropdown",
                            links: [
                                 {
                                     label: "Dashboard",
                                     href: "@Url.Action("Dashboard", "UserMain")",
                                     target: "app"
                                 },
                                 {
                                     label: "Reports",
                                     href: "@Url.Action("Reports", "UserMain")",
                                     target: "app"
                                 },
                                 {
                                     label: "Edit Preferences",
                                     href: "@Url.Action("Preferences", "UserMain")",
                                     target: "app"
                                 },
                                 {
                                     label: "Edit CoGS",
                                    href: "/ProfitWise/Static/CoGS.html",
                                     target: "app"
                                 },
                                 {
                                     label: "Edit Goals",
                                     href: "@Url.Action("Goals", "UserMain")",
                                     target: "app"
                                 },
                                 {
                                     label: "Product Consolidation",
                                     href: "@Url.Action("Products", "UserMain")",
                                     target: "app"
                                 },
                            ]
                        },
                         {
                             label: "Support",
                             type: "dropdown",
                             links: [
                                 {
                                     label: "About ProfitWise",
                                     href: "@Url.Action("About", "UserAuxiliary")",
                                     target: "app"
                                },
                                {
                                    label: "Contact Us",
                                    href: "@Url.Action("Contact", "UserAuxiliary")",
                                    target: "app"
                                }
                            ]
                        },
                    ]
                }
            });

            ShopifyApp.Bar.loadingOff();
        });


    </script>

</head>

<body>
<div class="container body-content">
    <p>Hello, @HttpContext.Current.RetreiveUserBriefFromContext().Email</p>
    <p>Shop Name = @HttpContext.Current.RetreiveUserBriefFromContext().ShopName</p>

    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
