@using ProfitWise.Web.Attributes
@using ProfitWise.Web.Models

@{
    var commonContext = (CommonContext) ViewBag.CommonContext;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>@commonContext.FullyBrandedPageTitle</title>

    @Html.Partial("_UserScripts")

    <script>
        ProfitWiseShopify.AppInitialize('@commonContext.ShopifyApiKey', '@commonContext.ShopUrl');
        ProfitWiseShopify.BarInitialize('@commonContext.PageTitle');
    </script>
</head>

<body>
    <!--<p>Hello, @HttpContext.Current.PullUserBriefFromContext().Email</p>
    <p>Shop Name = @HttpContext.Current.PullUserBriefFromContext().ShopName</p>-->

    @RenderBody()

    <div id="spinner-layer" class="spinner-layer" style="display:none;">
        <div id="spinner" class="spinner">
            <img id="img-spinner" style="width: 80px; height: 80px;" src="@Url.Content("~/Content/images/spinner.gif")" />
        </div>
    </div>
</body>
</html>
