@using ProfitWise.Data.Model.Cogs
@using ProfitWise.Web.Attributes
@using Push.Foundation.Web.Json

@model ProfitWise.Web.Models.BulkEditAllCogsModel

@{
    Layout = "~/Views/Shared/_AuthenticatedPopupLayout.cshtml";
    var commonContext = Context.PullCommonContext();
    commonContext.PageTitle = "Bulk Edit CoGS for Current Search";
    var defaultCurrencyId = commonContext.IdentitySnapshot.PwShop.CurrencyId;
}

@Html.Partial("~/Views/Cogs/_CogsEditorWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_MoneyEditorWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_NumberEditorWidget.cshtml")


<script type="text/html" id="Main-Template">
    <form class="form-horizontal" onsubmit="return false;">

        <div class="form-group" style="height: 100px;">
            <label class="col-xs-3 control-label" 
                   style="color: #777; display: inline-block; margin-top: 8px;">Enter New CoGS</label>
            <div class="col-xs-5" style="text-align: left;">
                <div data-bind="template: { name: 'Cogs-Editor-Widget', data: $root.EditorModel }"></div>
            </div>
            <div class="col-xs-4">
            </div>
        </div>

        <div style="height: 20px;"></div>

        <div class="form-group">
            <div class="col-xs-12">
                <div class="alert alert-danger" role="alert">
                    <strong>WARNING!</strong> Clicking "OK" will overwrite all CoGS data for all Variants
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align: right;">
            <div class="col-xs-12">
                <input type="button" class="btn btn-default" value="Cancel" data-bind="click: CancelButtonClick"/>
                <input type="button" class="btn btn-primary" value="Ok" data-bind="click: OkButtonClick"/>
            </div>
        </div>

        <div style="height:20px;"></div>
    </form>
</script>

<div data-bind="template: { name: 'Main-Template', afterRender: function() { $('input.money-editor-text').focus(); } }">
</div>

<script>
    var ProfitWise = ProfitWise || {};

    ProfitWise.BulkEditCogsModel = function(data) {
        var self = this;
        
        self.PickListId = ko.observable(data.PickListId);

        self.EditorModel = new ProfitWiseWidgets.CogsEditorWidgetModel({
            identifier: ProfitWiseFunctions.getRandomInt(1000, 9999),
            CogsTypeId: @CogsType.MarginPercentage,
            CogsCurrencyId: @defaultCurrencyId,
            CogsAmount: 0.00,
            CogsMarginPercent: data.DefaultMargin,
        });
        self.EditorModel.HorizontalEditor(false);
        
        // TODO - wirein Enter and Escape keys

        self.CancelButtonClick = function() {
            ShopifyApp.Modal.close({ result: false });
        };

        self.OkButtonClick = function() {
            var state = self.EditorModel.PullState();
            console.log(self.PickListId(), state);

            //var settings = new ProfitWiseFunctions.AjaxSettings(true);
            //var ajax = new ProfitWiseFunctions.Ajax(settings);
            //ajax.HttpPost(
            //    "/CogsService/BulkUpdateCogs", 
            //    postData,
            //    function() {
            //        ShopifyApp.Modal.close({ result: true });
            //    });

            return false;
        };
    };

    $(document)
        .ready(function () {
            
            // Data pass via PwCogsProduct C# object
            var data = @Html.Raw(Model.SerializeToJson());    
            var model = new ProfitWise.BulkEditCogsModel(data);

            ko.applyBindings(model);
            model.EditorModel.SetFocus();
            ProfitWiseFunctions.PopOverAutoCloseInit();
        });
</script>
