@using ProfitWise.Data.Model.Catalog
@using ProfitWise.Data.Model.Cogs
@using ProfitWise.Web.Attributes
@using ProfitWise.Web.Models
@using Push.Foundation.Web.Json

@model CogsDetailModel
@{
    var commonContext = Context.PullCommonContext();
    commonContext.PageTitle = "Edit CoGS Detail";
    var defaultCurrencyId = commonContext.IdentitySnapshot.PwShop.CurrencyId;
    Layout = "~/Views/Shared/_AuthenticatedPopupLayout.cshtml";
}

@Html.Partial("~/Views/SharedTemplates/_DatePickerWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_MoneyEditorWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_NumberEditorWidget.cshtml")
@Html.Partial("~/Views/Cogs/_CogsEditorWidget.cshtml")
@Html.Partial("~/Views/Cogs/_CogsVariantSummaryWidget.cshtml")
@Html.Partial("~/Views/Cogs/_EditMasterProduct.cshtml")

<style>
    body {
        overflow-y: scroll !important;
        padding: 0px !important;
    }

    .scrolling-popout-layout {
        width:100%; 
        background-color:#FFF; 
        overflow:visible; 
        padding-top:0px; 
        padding-left:20px; 
        padding-right: 20px;
    } 
    .edit-cogs-grid-header a, .detail-grid a {
        font-weight: 700;
    }
</style>

<script type="text/html" id="Cogs-Detail-Main-Template">
    <div class="fixed-header-container" style="padding-left: 0px; padding-right: 0px;">
        <div class="standard-header-sleeve" style="height: 140px;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header" 
                 style="width:100% !important; min-width: 0 !important; padding-top:20px; padding-right:20px; padding-left:20px; border-bottom: 1px dashed #CCC;">
                
                <div class="row">
                    <div class="col-xs-8 pull-left">
                        <div style="margin-bottom: 8px;">
                            <span style="font-size:1.0em; letter-spacing: 0.25em; font-weight:800; color:#777;">
                                Default Cost of Goods Sold
                            </span>
                        </div>

                        <div data-bind="template: { name: 'Cogs-Editor-Widget', data: DefaultEditorModel }"></div>
                    </div>

                    <div class="col-xs-4" style="text-align:right;">
                        <a href="#" data-bind="click: CloseClick" style="width:125px;" class="btn btn-default">
                            <i class="glyphicon glyphicon-ok"></i> &nbsp;Close                            
                        </a>
                        &nbsp;
                        <a href="#" data-bind="click: SaveClick" style="width:125px;" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Save
                        </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6" style="padding-top:20px;">
                        <span style="color:#F66; font-weight:700;" data-bind="text: ValidationMessage"></span>
                    </div>
                    <div class="col-xs-6 edit-cogs-grid-header" style="text-align:right; padding-top:20px;">                       
                        <a href="#" data-bind="click: AddDetailEntry">
                            <i class="glyphicon glyphicon-plus"></i> Add Detail Entry
                        </a>
                        &nbsp;
                        &nbsp;
                        <a href="#" data-bind="click: RemoveAllDetail">
                            <i class="glyphicon glyphicon-remove"></i> Remove All Detail
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="position: absolute; overflow: visible; width:100%;">
        <div style="height: 140px;"></div>

        <div class="scrolling-popout-layout">
            <div data-bind="visible: CogsDetail().length == 0" style="text-align:center; padding-top:60px;">
                <h1 style="font-weight:800; font-size:2.5em; color:#CCC;">No CoGS Detail</h1>
                <h4 style="font-weight:100;">Click "Add Detail Entry" to begin</h4>
            </div>
            
            <div data-bind="visible: CogsDetail().length > 0">
                <div data-bind="foreach: CogsDetail" class="detail-grid" style="padding-bottom: 300px;">
                    <div style="width:100%; padding-top:15px; height:50px; clear:both; ">
                        <div class="row">
                            <div class="col-xs-6" data-bind="template: { name: 'Cogs-Editor-Widget', data: $data.EditorModel }"></div>
                            <div class="col-xs-3">
                                <div style="display: inline-block; position: relative;"
                                     data-bind="template: { name: 'Date-Picker-Widget', data: { value: CogsDate } }"></div>
                            </div>
                            <div class="col-xs-3" style="padding-top:7px; text-align: right;">
                                <a href="#" data-bind="click: $parent.RemoveDetailEntry">
                                    <i class="glyphicon glyphicon-remove"></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Cogs-Detail-Main-Template' }"></div>

<script>
    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.CogsDetailRow = function(jsEntryDate) {
        var self = this;
        
        self.CogsDate = ko.observable(jsEntryDate);
        
        self.EditorModel = new ProfitWiseWidgets.CogsEditorWidgetModel({
            identifier: ProfitWiseFunctions.getRandomInt(1000, 9999),
            CogsTypeId: @CogsType.FixedAmount,
            CogsCurrencyId: @defaultCurrencyId,
            CogsAmount: 0.00,
            CogsMarginPercent: 0.00,
        });

        self.EditorModel.HorizontalEditor(true);
        
        self.PullState = function() {
            var output = self.EditorModel.PullState();
            output.CogsDate = self.CogsDate();
            return output;
        };
        
        self.PushState = function(cogsDetail) {
            self.EditorModel.PushState(cogsDetail);
            self.CogsDate(cogsDetail.CogsDate);
        };

        return self;
    };

    ProfitWiseWidgets.CogsDetailModel = function (jsDefaultDate) {
        var self = this;

        self.PwMasterVariantId = ko.observable();
        self.PwMasterProductId = ko.observable();
        self.CogsDetail = ko.observableArray();

        self.LoadCogsDetail = function (defaults, details) {
            self.DefaultEditorModel.PushState(defaults);

            AQ(details).each(function(detail) {
                var entry = new ProfitWiseWidgets.CogsDetailRow();
                detail.CogsDate = detail.CogsDate.parseToJavascriptDate();
                entry.PushState(detail);
                
                // add to array
                self.CogsDetail.push(entry);
            });
        };        
        
        self.RemoveAllDetail = function() {
            self.CogsDetail.removeAll();
        };

        self.AddDetailEntry = function() {
            if (self.CogsDetail().length >= 10) {
                return;
            }
            var entry = new ProfitWiseWidgets.CogsDetailRow(jsDefaultDate);
            self.CogsDetail.push(entry);
        };
        
        self.RemoveDetailEntry = function(item) {
            self.CogsDetail.remove(item);
        };
        
        self.DefaultEditorModel =
            new ProfitWiseWidgets.CogsEditorWidgetModel({
                identifier: "default-editor",
                CogsTypeId: @CogsType.FixedAmount,
                CogsCurrencyId: @defaultCurrencyId,
                CogsAmount: 0.00,
                CogsMarginPercent: 0.00,
            });
        self.DefaultEditorModel.HorizontalEditor(true);

        self.CloseClick = function() {
            ShopifyApp.Modal.close({ result: false });
        };

        self.SaveClick = function() {
            if (self.ValidationMessage()) {
                return;
            }
            
            var defaults = self.DefaultEditorModel.PullState();
            var details =
                AQ(self.CogsDetail())
                    .select(function (item) {
                        var output = item.EditorModel.PullState();
                        output.CogsDate = item.CogsDate();
                        return output;
                    })
                    .toArray();

            var data = {
                pwMasterVariantId: self.PwMasterVariantId(),
                defaults: defaults,
                details: details,
            };

            flow.exec(
                function () {
                    var settings = new ProfitWiseFunctions.AjaxSettings(true);
                    var ajax = new ProfitWiseFunctions.Ajax(settings);
                    ajax.HttpPost("/CogsService/UpdateCogsDetails", data, this);
                },
                function () {
                    ShopifyApp.Modal.close({ result: true });
                });
        };
        
        self.ValidationMessage = ko.computed(function() {
            var dates = 
                AQ(self.CogsDetail())
                    .select(function(x) { return x.CogsDate().toString() });

            var duplicateDates =
                dates.any(function(date) {
                    var count = dates.where(function(x) { return x == date; }).count();
                    return count > 1;
                });

            if (duplicateDates) {
                return "One or more entries are on the same date";
            } else {
                return null;
            }
        });

        return self;
    };

    $(document)
        .ready(function() {
            var data = @Html.Raw(Model.SerializeToJson());
            var defaultDate = data.DateDefault.parseToJavascriptDate();

            var model = new ProfitWiseWidgets.CogsDetailModel(defaultDate);
            model.PwMasterVariantId(data.PwMasterVariantId);
            model.LoadCogsDetail(data.Defaults, data.Details);
            ko.applyBindings(model);

            ProfitWiseFunctions.PopOverAutoCloseInit();
        });
</script>
