@using ProfitWise.Web.Plumbing
@model ProfitWise.Web.Models.WelcomeModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@Html.Partial("_IsDataLoadedAlert")

@Scripts.Render("~/Bundles/FileUpload")
@Styles.Render("~/StyleBundles/FileUpload")


<div class="system-page shadow" style="text-align: center;">
    
    <div style="max-width: 200px; margin-left: auto; margin-right: auto;">
        <img src="@GlobalConfig.BaseUrl/Content/images/Logo400x101HighRes.jpg"
             class="img-responsive"  />        
    </div>

    <div style="height: 25px;"></div>

    <h2 class="header">Bulk CoGS Upload</h2>
    <h4>Upload your Cost of Goods data in a comma-delimited (CSV) file.</h4>

    <div class="below-header-spacer"></div>

    <div class="system-page-content"
         data-bind="afterRender: function() { InitializeUpload('#bulk-cogs-upload'); }">
        
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 50px;">
                <p style="text-align: center;">
                    <strong>The process of bulk updating your ProfitWise Cost of Goods data in a CSV file is easy!</strong>
                    <br/>
                    Start by downloading the Excel template and entering your CoGS data.
                    Once you're ready, hit the "Upload CoGS" button to proceed.
                    If this is your first time, you may read the
                    <a href="#help">detailed instructions below</a>.
                </p>

                <a href="#" data-bind="click: function() { DownloadTemplate('download-caddy'); }"
                   class="btn btn-primary" style="width: 225px;">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                    Download XLS Template
                </a>
                
                <iframe id="download-caddy" style="display: none;"></iframe>

                <span style="width: 225px;" class="btn btn-primary fileinput-button">
                    <i class="glyphicon glyphicon-file"></i> Upload CoGS
                    <input id="bulk-cogs-upload" type="file" name="files[]" multiple>
                </span>

                <div style="height: 25px;"></div>

                <p style="font-weight: bold; text-align: center; color: #F00;">
                    WARNING: this will overwrite existing data, including any detail CoGS data.
                </p>
            </div>
        </div>

        <div style="height: 25px;"></div>
        <a name="help"></a>

        <div class="panel panel-default">
            <div class="panel-body" style="padding: 50px;">
                <h4 class="subtitle-header">Uploading your Cost of Goods Data to ProfitWise</h4>

                <div style="height: 25px;"></div>

                <p>Start by downloading the template, which you can edit using Excel or Google Sheets.
                    The template will come preloaded with all of your store's Products and Variants.</p>

                <p style="font-weight: bold;">NOTE: for consolidated Products/Variants, only the Primary Variant will appear</p>

                <p>You may have multiple Variants consolidated. The download template will only include the data
                    e.g. Title, Price, CoGS for the Primary Variant.</p>

                <p>Enter either a Margin Percent or a Fixed Amount as the Cost of Goods for each Variant.
                    When using Margin Percent, enter percentages as decimals (i.e. enter 0.15 for 15%).
                    You can leave zero-amounts for both values, if necessary.</p>

                <p style="font-weight: bold;">IMPORTANT: this process overwrites all existing CoGS data</p>

                <p>
                    For every single Product-Variant found in the upload file,
                    the non-detail <em>and</em> detail CoGS data will be overwritten with non-detail CoGS.
                    In order to exclude a Product-Variant from being updated,
                    remove that row from the spreadsheet, and ProfitWise will skip updating it.
                </p>

                <p>The "Abbreviation" column is for specifying the currency for your Cost of Goods values.
                    You purchase goods in a different currency, enter the appropriate currency abbreviation in this column,
                    and ProfitWise will convert those costs to your store's currency based upon current conversion rates.
                    ProfitWise accepts the following currencies: <strong>USD, EUR, JPY, GBP, AUD, CHF, CAD, AED.</strong>
                </p>

                <p>Once you have completed entry of your data, save as a comma delimited (CSV) file and upload to ProfitWise.</p>
            </div>
        </div>
    </div>
</div>

<script>
    var ProfitWise = ProfitWise || {};

    ProfitWise.CreateFileUpload = function (launchSelector, uploadUrl, postSuccessFunc) {
        'use strict';
        $(launchSelector).fileupload({
            url: uploadUrl,
            autoUpload: true,
            add: function (e, data) {
                data.submit();
            },
            start: function () {
                alert("loading!");
            },
            success: function (response, status) {
                postSuccessFunc(response, status);
            },
            fail: function (e, data) {
                alert('Something went wrong while attempting to upload your file. Please contact support if the issue persists.');
            },
            progress: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css('width', progress + '%');
            },
            stop: function () {
                alert("stop");
                //EnableFunctions.HideLoading();
            },
        }).prop('disabled', !$.support.fileInput)
            .parent()
            .addClass($.support.fileInput ? undefined : 'disabled');
    };
    
    ProfitWise.UploadModel = function () {
        var self = this;
        
        self.UploadUrl = '/Cogs/UploadPost';
        
        self.InitializeUpload = function () {
            ProfitWise.CreateFileUpload(
                '#bulk-cogs-upload', uploadUrl, function () { alert('Upload complete!') });
        };
        
        self.DownloadTemplate = function (downloadIframeId) {
            var url = '@GlobalConfig.BuildUrl("/Cogs/UploadTemplate")';
            document.getElementById(downloadIframeId).src = url;
        };
        
        return self;
    };
    
    $(document).ready(function () {
        var model = new ProfitWise.UploadModel();
        ko.applyBindings(model);
    });
</script>

