@model ProfitWise.Web.Models.AuthorizationProblemModel
@{
    ViewBag.Title = "ProfitWise - " + @Model.Title;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="system-page">
    <h2 class="header">ProfitWise - @Model.Title</h2>
    <h4>@Model.Message</h4>
    <div style="height: 25px;"></div>
    
    @if (@Model.UrlContainsShop)
    {
        <p>You can retry by <a href="@Model.Url">clicking here</a>, or exiting Shopify and restarting ProfitWise.</p>
    }
    else
    {
        <p>Please try refreshing the page, or exiting Shopify and restarting ProfitWise.</p>
    }
    <p>If the issue persists, feel free to reach out to our Support Team for assistance.</p>
</div>
