@using ProfitWise.Data.Model.Profit
@using ProfitWise.Data.Model.Reports

<style>
    .report-viewer-top-button {
        width: 130px;
    }

    .report-widget-label {
        font-weight: 700;
        color: #AAA;
        font-size: 1.2em;
    }

    .report-widget-drilldown-link {
        font-weight:700; 
        margin-top:10px;
        display: inline-block;
    }

    .profit-table tr td:nth-child(1), .profit-table tr th:nth-child(1)  {
        width:25%;
        text-align:left;
    }
    .profit-table tr td:nth-child(2), .profit-table tr th:nth-child(2)  {
        width:20%;
        text-align:right;
    }
    .profit-table tr td:nth-child(3), .profit-table tr th:nth-child(3)  {
        width:20%;
        text-align:right;
    }
    .profit-table tr td:nth-child(4), .profit-table tr th:nth-child(4)  {
        width:20%;
        text-align:right;
    }
    .profit-table tr td:nth-child(5), .profit-table tr th:nth-child(5)  {
        width:20%;
        text-align:right;
    }

    .executive-summary h1 {
        font-weight: 700;
        margin-top: 6px;
    }
    .executive-summary-label {
        font-weight: 700;
        color: #999;
        font-size:18p
    }
    .executive-summary .summary-cell {
        text-align: left;
    }

    .summary-header {
        text-align:center; border-bottom:1px dashed #CCC; overflow:auto;
    }

    .pie-chart {
        min-width: 310px; height: 400px; max-width: 600px;margin: 0 auto;clear: both;
    }

    #detail-report-table tr td:nth-child(1), #detail-report-table tr th:nth-child(1) {
        width: 22%;
    }

    #detail-report-table tr td:nth-child(2), #detail-report-table tr th:nth-child(2) {
        width: 14%;
        text-align: right;
    }

    #detail-report-table tr td:nth-child(3), #detail-report-table tr th:nth-child(3) {
        width: 14%;
        text-align: right;
    }

    #detail-report-table tr td:nth-child(4), #detail-report-table tr th:nth-child(4) {
        width: 13%;
        text-align: right;
    }

    #detail-report-table tr td:nth-child(5), #detail-report-table tr th:nth-child(5) {
        width: 13%;
        text-align: right;
    }

    #detail-report-table tr td:nth-child(6), #detail-report-table tr th:nth-child(6) {
        width: 13%;
        text-align: right;
    }

    #detail-report-table tr td:nth-child(7), #detail-report-table tr th:nth-child(7) {
        width: 11%;
        text-align: right;
    }
</style>

<!-- Profitability Views -->
<script id="Report-Profitability" type="text/html">
    <div data-bind="ifnot: ProfitabilitySummaryContext.DatasetLoaded">
        <div style="min-height: 600px;">
            <h1 style="margin-top: 100px; text-align: center; font-weight: 700; font-size: 6em; color: #EEE;">No Report Loaded Yet</h1>
        </div>
    </div>

    <div data-bind="if: ProfitabilitySummaryContext.DatasetLoaded() && SummaryActive()">
        <!-- Note: the context of $data at this level is ReportInterfaceModel -->
        <div style="min-height: 600px"
                data-bind="template: { name: 'Report-Profitability-Summary', data: $data }">
        </div>
    </div>
    <div data-bind="if: ProfitabilitySummaryContext.DatasetLoaded() && !SummaryActive()">
        <!-- Note: the context of $data at this level is ReportInterfaceModel -->
        <div style="min-height: 600px"
                data-bind="template: { name: 'Report-Profitability-Detail', data: $data }">
        </div>
    </div>
</script>
<script id="Report-Profitability-Detail" type="text/html">
    <div id="details-drillup-button" style="height:40px; overflow:auto;">
        <a href="#" style="width:250px; font-weight:700;" data-bind="click: ExitDetailClick">
            <i class="glyphicon glyphicon-arrow-left"></i> Navigate Back to Summary
        </a>
    </div>

    <div id="column-chart-detail" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div data-bind="with: ProfitabilityDetailContext">
        <div data-bind="if: Data().length == 0">
            <div style="margin-top: 200px; margin-bottom:200px; text-align: center; overflow:auto;">
                <i style="font-size: 6.0em; color: #DDD;" class="glyphicon glyphicon-tag"></i>
                <h1 style="font-size:3em; color: #AAA; font-weight: 700;">No Data Found Here</h1>
                <span style="color: #555;">Try refreshing the page or refining your filters</span>

            </div>
        </div>

        <div data-bind="if: Data().length > 0 && PagingModel.PageCount() > 1" style="text-align: right;">
            <div style="overflow:auto; margin-bottom: 30px;" data-bind="template: { name: 'Paging-Widget', data: PagingModel }"></div>
        </div>

        <div data-bind="if: Data().length > 0">
            <table class="table table-striped table-hover" id="detail-report-table" style="margin-top: 30px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 0, ColumnName: 'Items Sold', Model: SortingModel } }"></th>
                        <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 1, ColumnName: 'Average Margin', Model: SortingModel } }"></th>
                        <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 2, ColumnName: 'Net Sales', Model: SortingModel } }"></th>
                        <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 3, ColumnName: 'CoGS', Model: SortingModel } }"></th>
                        <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 4, ColumnName: 'Profit', Model: SortingModel } }"></th>
                        <th data-bind="template: { name: 'Sortable-Column-Header',
                                data: { ColumnIndex: 4, ColumnName: 'Profit %', Model: SortingModel } }"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Data">
                    <tr>
                        <td>
                            <div class="overflow-gracefully" style="max-width:350px;"
                                 data-bind="text: GroupingName, tooltip: { title: GroupingName, placement: 'bottom' }"></div>
                        </td>
                        <td>
                            <span class="overflow-gracefully"
                                  data-bind="text: TotalQuantitySold"></span>
                        </td>
                        <td>
                            <span class="overflow-gracefully"
                                  data-bind="text: ProfitWiseFunctions.ToDecimalPlaces(AverageMargin)"></span>%
                        </td>
                        <td>
                            <span class="overflow-gracefully"
                                  data-bind="text: ProfitWiseFunctions.FormatCurrency(TotalRevenue, $parent.Currency())"></span>
                        </td>
                        <td>
                            <span class="overflow-gracefully"
                                  data-bind="text: ProfitWiseFunctions.FormatCurrency(TotalCogs, $parent.Currency())"></span>
                        </td>
                        <td>
                            <span class="overflow-gracefully"
                                  data-bind="text: ProfitWiseFunctions.FormatCurrency(TotalProfit, $parent.Currency())"></span>
                        </td>
                        <td>
                            <span class="overflow-gracefully"
                                  data-bind="text: ProfitWiseFunctions.ToDecimalPlaces(ProfitPercentage)"></span>%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div data-bind="if: Data().length > 0 && PagingModel.PageCount() > 1" style="text-align: right;">
            <div style="overflow:auto; margin-bottom: 30px;" data-bind="template: { name: 'Paging-Widget', data: PagingModel }"></div>
        </div>

    </div>
</script>
<script id="Report-Profitability-Summary" type="html/text">
    <!-- Executive Summary -->
    <div class="row executive-summary" data-bind="with: ProfitabilitySummaryContext.Data">
        <div class="col-xs-3 summary-cell">
            <div class="executive-summary-label">Number of Orders</div>
            <h1 data-bind="text: ExecutiveSummary.TotalOrders"></h1>
        </div>
        <div class="col-xs-3 summary-cell">
            <div class="executive-summary-label">Revenue</div>
            <h1 data-bind="text: ProfitWiseFunctions.FormatCurrency(ExecutiveSummary.TotalRevenue, $data.CurrencyId)"></h1>
        </div>
        <div class="col-xs-3 summary-cell">
            <div class="executive-summary-label">Cost of Goods Sold</div>
            <h1 data-bind="text: ProfitWiseFunctions.FormatCurrency(ExecutiveSummary.TotalCogs, $data.CurrencyId)"></h1>
        </div>
        <div class="col-xs-3 summary-cell">
            <div class="executive-summary-label">Profit</div>
            <h1 data-bind="text: ProfitWiseFunctions.FormatCurrency(ExecutiveSummary.TotalProfit, $data.CurrencyId)"></h1>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row">
        <div class="col-xs-12" style="height:25px; overflow:auto;">
        </div>
    </div>

    <!-- Column Chart with drilldown -->
    <div class="row">
        <div class="col-xs-12" style="overflow:auto;">
            <div style="text-align:center;">
                <h4 style="font-weight:700; color:#AAA;">Profits by Time Period</h4>
            </div>
            <div id="column-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

    <!-- Spacer -->
    <div class="row">
        <div class="col-xs-12" style="height:50px; overflow:auto;">
        </div>
    </div>

    <!-- Pie Charts -->
    <div data-bind="with: ProfitabilitySummaryContext">
        <div data-bind="if: Data().ExecutiveSummary.TotalQuantitySold > 0">
            <div class="row">
                <div class="col-xs-6">
                    <div class="summary-header">
                        <h4 class="report-widget-label pull-left">Top Performing Products</h4>
                        <a href="#" id="product-detail-link" class="report-widget-drilldown-link pull-right"
                           data-bind="click: function() { DetailCallback('@ReportGrouping.Product') }">
                            <i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Product Detail
                        </a>
                    </div>
                    <div id="products-pie-chart" class="pie-chart" style="clear:both;"></div>
                    <div data-bind="template: { name: 'Report-Profitability-Summary-Widget',
                                        data: { ProfitData: Data().ProductsByMostProfitable,
                                                CurrencyId: Data().CurrencyId } }">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="summary-header">
                        <h4 class="report-widget-label pull-left">Top Performing Vendors</h4>
                        <a href="#" id="vendor-detail-link" class="report-widget-drilldown-link pull-right"
                           data-bind="click: function() { DetailCallback('@ReportGrouping.Vendor') }">
                            <i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Vendor Detail
                        </a>
                    </div>
                    <div id="vendors-pie-chart" class="pie-chart"></div>
                    <div data-bind="template: { name: 'Report-Profitability-Summary-Widget',
                                        data: { ProfitData: Data().VendorsByMostProfitable,
                                                CurrencyId: Data().CurrencyId } }">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="height:50px; overflow:auto;">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="summary-header">
                        <h4 class="report-widget-label pull-left">Top Performing Variants</h4>
                        <a href="#" id="variant-detail-link" class="report-widget-drilldown-link pull-right"
                           data-bind="click: function() { DetailCallback('@ReportGrouping.Variant') }">
                            <i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Variant Detail
                        </a>
                    </div>
                    <div id="variants-pie-chart" class="pie-chart"></div>
                    <div data-bind="template: { name: 'Report-Profitability-Summary-Widget',
                                            data: { ProfitData: Data().VariantByMostProfitable,
                                                    CurrencyId: Data().CurrencyId } }"></div>
                </div>

                <div class="col-xs-6">
                    <div class="summary-header">
                        <h4 class="report-widget-label pull-left">Top Performing Product Types</h4>
                        <a href="#" id="product-type-detail-link" class="report-widget-drilldown-link pull-right"
                           data-bind="click: function() { DetailCallback('@ReportGrouping.ProductType') }">
                            <i class="glyphicon glyphicon-zoom-in"></i>&nbsp; Product Type Detail
                        </a>
                    </div>

                    <div id="product-types-pie-chart" class="pie-chart"></div>

                    <div data-bind="template: { name: 'Report-Profitability-Summary-Widget',
                                        data: { ProfitData: Data().ProductTypeByMostProfitable,
                                                CurrencyId: Data().CurrencyId } }"></div>
                </div>
            </div>
        </div>

        <div data-bind="ifnot: Data().ExecutiveSummary.TotalQuantitySold > 0">
            <h1 style="margin-top: 100px; margin-bottom:300px; text-align:center; font-weight:700; font-size:4em; color:#CCC;">
                No Data Found With Current Parameters
            </h1>
        </div>
    </div>
</script>
<script id="Report-Profitability-Summary-Widget" type="text/html">
    <!-- Expects to bind to: ProfitData, HeadingLabel, CurrencyId -->
    <div data-bind="if: ProfitData.length > 0">
        <table class="table profit-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gross Sales</th>
                    <th>CoGS</th>
                    <th>Profit</th>
                    <th># Sold</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ProfitData">
                <tr>
                    <td class="overflow-gracefully">
                        <span data-bind="text: GroupingName, tooltip: { title: GroupingName, placement: 'bottom' }"></span>
                    </td>
                    <td data-bind="text: ProfitWiseFunctions.FormatCurrency(TotalRevenue, $parent.CurrencyId) "></td>
                    <td data-bind="text: ProfitWiseFunctions.FormatCurrency(TotalCogs, $parent.CurrencyId) "></td>
                    <td data-bind="text: ProfitWiseFunctions.FormatCurrency(TotalProfit, $parent.CurrencyId)"></td>
                    <td data-bind="text: TotalQuantitySold"></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<!-- Profitability Models -->

<script id="Profitability-Summary-Context">
    ProfitWiseWidgets.ProfitabilitySummaryContext = function() {
        var self = this;        
        self.Data = ko.observable();

        self.DatasetLoaded = ko.computed(function() {
            return self.Data() != null;
        });

        self.LoadDataset = function (reportId, callback) {
            flow.exec(
                function() {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpPost("/ProfitService/Summary", { reportId: reportId }, this);
                },
                function (data) {
                    // Rename to Summary Dataset
                    var summary = data.Summary;
                    self.Data(summary);

                    ProfitWiseWidgets.LoadColumnChart(
                        '#column-chart', 'Profitability', data.Series, data.Drilldown, data.CurrencyId);

                    if (data.Summary.ExecutiveSummary.TotalQuantitySold > 0) {
                        ProfitWiseWidgets.LoadPieChart('products-pie-chart', 'Top Products', summary.ProductsByMostProfitable, data.CurrencyId);
                        ProfitWiseWidgets.LoadPieChart('vendors-pie-chart', 'Top Vendors', summary.VendorsByMostProfitable, data.CurrencyId);
                        ProfitWiseWidgets.LoadPieChart('variants-pie-chart', 'Top Variants', summary.VariantByMostProfitable, data.CurrencyId);
                        ProfitWiseWidgets.LoadPieChart('product-types-pie-chart', 'Top Product Types', summary.ProductTypeByMostProfitable, data.CurrencyId);
                    }

                    if (callback) {
                        callback();
                    }
                }
            );
        };

        return self;
    };
</script>
<script id="Profitability-Detail-Context">
    ProfitWiseWidgets.ProfitabilityDetailContext = function () {
        var self = this;

        self.Data = ko.observableArray();
        self.Grouping = ko.observable('@ReportGrouping.Product');
        self.Currency = ko.observable(@ProfitWise.Data.Model.System.Currency.DefaultCurrencyId);
        
        self.PagingModel = new ProfitWiseWidgets.PagingModel();
        self.PagingModel.Callback = function() {
            self.LoadDataset(self.ReportId());
        };
        self.PagingModel.ShowPageSizeSelector(true);

        self.SortingModel = new ProfitWiseWidgets.SortingModel();
        self.SortingModel.Callback = function () { self.LoadDataset(self.ReportId()); };

        self.ReportId = ko.observable();

        self.Initialize = function() {
            self.PagingModel.PageNumber(1);
            self.SortingModel.SelectedColumnIndex(4);
            self.SortingModel.SortByDirectionDown(true);
        }

        self.Ordering = ko.computed(function() {
            var index = self.SortingModel.SelectedColumnIndex();
            var descending = self.SortingModel.SortByDirectionDown();

            if (index == 0)
                return descending ? '@ColumnOrdering.QuantitySoldDescending' : '@ColumnOrdering.QuantitySoldAscending';
            if (index == 1)
                return descending ? '@ColumnOrdering.AverageMarginDescending' : '@ColumnOrdering.AverageMarginAscending';
            if (index == 2)
                return descending ? '@ColumnOrdering.NetSalesDescending' : '@ColumnOrdering.NetSalesAscending';
            if (index == 3)
                return descending ? '@ColumnOrdering.CogsDescending' : '@ColumnOrdering.CogsAscending';
            if (index == 4)
                return descending ? '@ColumnOrdering.ProfitDescending' : '@ColumnOrdering.ProfitAscending';
            if (index == 5)
                return descending ? '@ColumnOrdering.ProfitDescending' : '@ColumnOrdering.ProfitAscending';

            return '@ColumnOrdering.ProfitDescending';
        });

        self.Drilldown = function (e) {
            if (e.seriesOptions) {
                return;
            }
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpGet(e.point.drilldownurl, this);
                },
                function (data) {
                    e.target.addSeriesAsDrilldown(e.point, data);
                    //console.log(data);
                });
        }

        self.LoadDataset = function (reportId, callback) {
            flow.exec(
                function () {
                    self.ReportId(reportId);
                    var ajax = new ProfitWiseFunctions.Ajax();
                    var data = {
                        reportId: reportId,
                        grouping: self.Grouping(),
                        ordering: self.Ordering(),
                        pageNumber: self.PagingModel.PageNumber(),
                        pageSize: self.PagingModel.PageSize(),
                    };
                    ajax.HttpPost("/ProfitService/Detail",  data, this);
                },
                function (data) {
                    self.Data.removeAll();
                    self.Data(data.rows);
                    self.PagingModel.RecordCount(data.count);

                    ProfitWiseWidgets.LoadColumnChart(
                        '#column-chart-detail', 'Profitability', data.series, null, data.currency, self.Drilldown);

                    if (callback) {
                        callback();
                    }
                }
            );
        };

        return self;
    };
</script>
<script id="Profitabilty-Model">
    ProfitWiseWidgets.ProfitabilityModel = function () {
        var self = this;
        self.ReportId = ko.observable();
        self.SummaryActive = ko.observable(true);

        self.ProfitabilitySummaryContext = new ProfitWiseWidgets.ProfitabilitySummaryContext();

        self.ProfitabilityDetailContext = new ProfitWiseWidgets.ProfitabilityDetailContext();

        self.ProfitabilitySummaryContext.DetailCallback = function (grouping) {
            flow.exec(
                function () {
                    self.ProfitabilityDetailContext.Grouping(grouping);
                    self.SummaryActive(false);
                    self.RefreshReportData(self.ReportId(), this);
                }, function () {
                    $('html, body').animate({ scrollTop: 0 });
                });
        };

        self.ExitDetailClick = function () {
            self.SummaryActive(true);
            self.RefreshReportData(self.ReportId());
        };

        self.RefreshReportData = function (reportId, callback) {
            self.ReportId(reportId);
            if (self.SummaryActive()) {
                self.ProfitabilitySummaryContext.LoadDataset(reportId, callback);
            } else {
                self.ProfitabilityDetailContext.Initialize();
                self.ProfitabilityDetailContext.LoadDataset(reportId, callback);
            }
        };

        self.ExportDetailCallback = function (downloadIframeId) {
            var url = ProfitWiseConfig.BaseUrl + "/ProfitService/ExportDetail?" +
                "reportId=" + self.ReportId() + "&" +
                "grouping=" + self.ProfitabilityDetailContext.Grouping() + "&" +
                "ordering=" + self.ProfitabilityDetailContext.Ordering();

            document.getElementById(downloadIframeId).src = url;
        };


        return self;
    };
</script>
