@using ProfitWise.Data.Model
@Html.Partial("~/Views/Report/_FilterPagingWidget.cshtml")
@Html.Partial("~/Views/Report/_SelectionModel.cshtml")
@Html.Partial("~/Views/Report/_ReportEditorCommonTemplates.cshtml")
@Html.Partial("~/Views/Report/_ReportEditorProductType.cshtml")
@Html.Partial("~/Views/Report/_ReportEditorVendor.cshtml")
@Html.Partial("~/Views/Report/_ReportEditorMasterProduct.cshtml")
@Html.Partial("~/Views/Report/_ReportEditorSku.cshtml")
@Html.Partial("~/Views/Report/_SelectionCountPreview.cshtml")


<style>
    table#product-types td {
        height: 70px !important;
        font-size: 14px;
        vertical-align: middle !important;
    }

    table#product-types tr td:nth-child(1) {
        width: 10%;
    }
    table#product-types tr td:nth-child(2) {
        width: 45%;
    }
    table#product-types tr td:nth-child(3) {
        width: 45%;
    }
</style>

<script type="text/html" id="Report-Editor-Top-Level">
    <div id="report-editor-header-bottom">
        <!-- Move this to the Report Editor...? -->
        <div class="fixed-positioning-container" style="top: 145px;">
            <!-- Space -->
            <div class="standard-header-sleeve" style="height: 178px;">
                <div class="standard-header standard-padding" style="overflow: visible;">

                    <!-- Report Editor component -->
                    <div data-bind="template: { name: 'Report-Editor-Header' }"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="report-editor-header-top" class="fixed-positioning-container">
        <div class="standard-header-sleeve" style="height: 150px; border-bottom: 1px solid #FFF; background-color: teal;">

            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header standard-padding top-border-facade" style="overflow: visible; padding-top:20px;">
                <div class="col-xs-6 no-side-padding">
                    <div class="popover-container">
                        <div data-bind="if: EditingReport()">
                            <h4 style="display:inline-block; font-weight:700;" `data-bind="text: $data.EditingReport().Name"></h4>

                            <div style="margin-left:7px; display:inline-block; letter-spacing: 0.1em; font-size:0.9em; color:#888;">(EDITING REPORT)</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 no-side-padding">
                    <div class="pull-right" style="padding-top: 10px;">
                        <a href="#" class="btn btn-primary" style="width:100px;"
                           data-bind="click: CancelButtonClick">
                            Cancel <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a href="#" class="btn btn-primary" style="width:100px; margin-left:10px;"
                           data-bind="click: OkButtonClick">
                            OK <i class="glyphicon glyphicon-ok"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="report-editor-body" class="container page-content-sleeve">
        <!-- Will move/transistion when the filters appear -->
        <div class="page-content" style="margin-top: 150px; padding-top: 30px; overflow: auto;">
            <div data-bind="template: { name: 'Report-Editor-Body' }" style="margin-top:140px;">
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Report-Editor-Filter-Grid">
    <div style="margin-bottom:5px; font-size:0.8em; font-weight:700;">
        <span data-bind="text: label"></span>: 
        <span data-bind="if: grid().length == 0">
            <span style="font-weight:400;">(none)</span>
        </span>
    </div>

    <div data-bind="foreach: grid">
        <div class="filter-tag-container"
             style="display:inline-block; margin-bottom:5px;"
             data-bind="tooltip: { title: $data.Description, placement: 'bottom' }">

            <div class="filter-description">
                <span data-bind="text: $data.Title"></span>
            </div>

            <!-- Add a delete method here... -->
            <a class="filter-remove" href="#" data-bind="click: RemoveClick">
                &nbsp;
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
    </div>
</script>

<!-- Requires a ReportEditorWidget passed in KO template "data" parameter -->
<script type="text/html" id="Report-Editor-Header">
    <!-- Spacer - 15px -->
    <div class="vert-spacer" style="height: 15px;"></div>

    <!-- Nav tabs - 43px -->
    <div class="row-fluid" style="height: 43px;">
        <div class="col-xs-7 no-side-padding">
            <div style="overflow:auto; height:40px;">
                <ul class="nav nav-tabs" role="tablist" style="position: absolute; width: 100%;">
                    <li role="presentation" class="active">
                        <a href="#report-filter-product-type"
                           data-bind="click: ProductTypeClick"
                           aria-controls="home" role="tab" data-toggle="tab">Product Types</a>
                    </li>
                    <li role="presentation">
                        <a href="#report-filter-vendor"
                           data-bind="click: VendorClick"
                           aria-controls="profile" role="tab" data-toggle="tab">Vendors</a>
                    </li>
                    <li role="presentation">
                        <a href="#report-filter-product"
                           data-bind="click: MasterProductClick"
                           aria-controls="messages" role="tab" data-toggle="tab">Products</a>
                    </li>
                    <li role="presentation">
                        <a href="#report-filter-sku"
                           data-bind="click: SkuClick"
                           aria-controls="settings" role="tab" data-toggle="tab">Variants</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content" style="clear: both;">
                <!-- Height - 120px -->
                <div id="report-filter-product-type" role="tabpanel" class="tab-pane active reduced-padding"
                     data-bind="template: { name: 'Report-Editor-Header-Product-Type', data: ProductTypeFilterModel }">
                </div>
                <div id="report-filter-vendor" role="tabpanel" class="tab-pane reduced-padding"
                     data-bind="template: { name: 'Report-Editor-Header-Vendor', data: VendorFilterModel }">
                </div>
                <div id="report-filter-product" role="tabpanel" class="tab-pane reduced-padding"
                     data-bind="template: { name: 'Report-Editor-Header-Master-Product', data: MasterProductFilterModel }">
                </div>
                <div id="report-filter-sku" role="tabpanel" class="tab-pane reduced-padding"
                     data-bind="template: { name: 'Report-Editor-Header-Sku', data: SkuFilterModel }">
                </div>
            </div>
        </div>

        <div class="col-xs-5 no-side-padding" style="background-color:white; height: 300px; padding-left:45px; ">
            <div style="font-size:1.10em; height:40px; padding-top:8px; font-weight: 700;">Select Filters to add to your Report</div>
            
            <!-- Template for Product and Variant Count -->
            <span data-bind="template: { name: 'Report-Selection-Preview', data: SelectionCountPreviewModel }"></span>

            <p>Add or remove filters from Report, then hit "Ok" to view the updated results.</p>

            <div style="overflow-y:auto; height:300px;">
                <div style="height:10px;"></div>
                <div data-bind="template: { name: 'Report-Editor-Filter-Grid',
                                        data: { label: 'Product Types Filters', grid: ProductTypesGrid } }"></div>

                <div style="height:10px;"></div>
                <div data-bind="template: { name: 'Report-Editor-Filter-Grid',
                                        data: { label: 'Vendor Filters', grid: VendorsGrid } }"></div>

                <div style="height:10px;"></div>
                <div data-bind="template: { name: 'Report-Editor-Filter-Grid',
                                        data: { label: 'Product Filters', grid: ProductsGrid } }"></div>

                <div style="height:10px;"></div>
                <div data-bind="template: { name: 'Report-Editor-Filter-Grid',
                                        data: { label: 'Variant Filters', grid: SkuGrid } }"></div>
            </div>
        </div>
    </div>
</script>

<!-- Requires a ReportEditorWidget passed in KO template "data" parameter -->
<script type="text/html" id="Report-Editor-Body">
    <div data-bind="if: SelectedFilterModel() == ProductTypeFilterModel">
        <div data-bind="template: { name: 'Report-Editor-Body-Product-Type', data: ProductTypeFilterModel }"></div>
    </div>

    <div data-bind="if: SelectedFilterModel() == VendorFilterModel">
        <div data-bind="template: { name: 'Report-Editor-Body-Vendor', data: VendorFilterModel }"></div>
    </div>

    <div data-bind="if: SelectedFilterModel() == MasterProductFilterModel">
        <div data-bind="template: { name: 'Report-Editor-Body-Master-Product', data: MasterProductFilterModel }"></div>
    </div>

    <div data-bind="if: SelectedFilterModel() == SkuFilterModel">
        <div data-bind="template: { name: 'Report-Editor-Body-Sku', data: SkuFilterModel }"></div>
    </div>
</script>



<script>
    ProfitWiseWidgets = ProfitWiseWidgets || {};

    // Bind the C# internal name
    ProfitWiseWidgets.ProductTypeFilter = "@PwReportFilter.ProductType";
    ProfitWiseWidgets.VendorFilter = "@PwReportFilter.Vendor";
    ProfitWiseWidgets.ProductFilter = "@PwReportFilter.Product";
    ProfitWiseWidgets.SkuFilter = "@PwReportFilter.Sku";

    ProfitWiseWidgets.ReportEditorModel = function () {
        var self = this;

        self.ReportId = ko.observable();
        self.ReportContext = ko.observable();
                
        // Wire in the individual Report Editor modules
        self.ProductTypeFilterModel = new ProfitWiseWidgets.ProductTypeFilterModel(self);
        self.VendorFilterModel = new ProfitWiseWidgets.VendorFilterModel(self);
        self.MasterProductFilterModel = new ProfitWiseWidgets.MasterProductFilterModel(self);
        self.SkuFilterModel = new ProfitWiseWidgets.SkuFilterModel(self);


        // Which ever of the Product Type, Vendor, Master Product or Sku models is active will be here
        self.SelectedFilterModel = ko.observable();

        self.RefreshSelectedFilterModel = function(callback) {
            flow.exec(
                function () {
                    self.SelectedFilterModel().Refresh(this);
                },
                function () {
                    var filterType = self.SelectedFilterModel().FilterType;
                    var filterKeys = AQ(self.GetFiltersByType(filterType))
                                        .select(function (item) { return item.Key })
                                        .toArray();

                    self.SelectedFilterModel()
                        .SelectionModel
                        .SetCheckItemsByKeyArray(filterKeys, true);

                    if (callback) {
                        callback();
                    }
                }
            );
        };


        // Selection Preview model
        self.SelectionCountPreviewModel = new ProfitWiseWidgets.SelectionCountPreviewModel();

        
        // Filter Grid Model
        self.FiltersGrid = ko.observableArray([]);

        var filtersByType = function (filterType) {
            return AQ(self.FiltersGrid())
                .where(function (item) { return item.FilterType == filterType; })
                .toArray();
        }

        self.ProductTypesGrid = ko.computed(function () { return filtersByType(self.ProductTypeFilter); });
        self.VendorsGrid = ko.computed(function () { return filtersByType(self.VendorFilter); });
        self.ProductsGrid = ko.computed(function () { return filtersByType(self.ProductFilter); });
        self.SkuGrid = ko.computed(function () { return filtersByType(self.SkuFilter); });



        // AJAX / server-side interfacing methods
        self.UpdateFilter = function (key, selected, filterType, title) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    var data = {
                        reportId: self.ReportId(),
                        filterType: filterType,
                        key: key,
                        title: title,
                    };

                    if (selected) {
                        ajax.HttpPost("/ReportService/AddFilter", data, this);
                    } else {
                        ajax.HttpPost("/ReportService/RemoveFilter", data, this);
                    }
                },
                function () {
                    self.RefreshFilterSummary();
                });
        };

        self.RemoveFilter = function (item) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    var data = {
                        reportId: self.ReportId(),
                        filterId: item.PwFilterId,
                    };

                    ajax.HttpPost("/ReportService/RemoveFilterById", data, this);
                },
                function () {
                    self.RefreshFilterSummary();
                    self.SelectionCountPreviewModel.Refresh(this);
                },
                function () {
                    self.RefreshSelectedFilterModel();
                }
            );
        };

        var filterModelByFilterType = function (filterType) {
            if (filterType == self.ProductTypeFilter) {
                return self.ProductTypeFilterModel;
            }
            if (filterType == self.VendorFilter) {
                return self.VendorFilterModel;
            }
            if (filterType == self.ProductFilter) {
                return self.MasterProductFilterModel;
            }
            if (filterType == self.SkuFilter) {
                return self.SkuFilterModel;
            }
        };

        self.RemoveFilterType = function (filterType) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    var data = {
                        reportId: self.ReportId(),
                        filterType: filterType,
                    };
                    ajax.HttpPost("/ReportService/RemoveFilterByType", data, this);
                },
                function () {
                    var reportModel = filterModelByFilterType(filterType);
                    reportModel.SelectionModel.UncheckAllItems();
                    self.RefreshFilterSummary();
                }
            );
        }

        self.RefreshFilterSummary = function (callback) {
            flow.exec(
                function () {
                    var ajax = new ProfitWiseFunctions.Ajax();
                    ajax.HttpGet("/ReportService/Filters?reportId=" + self.ReportId(), this);
                },
                function (filters) {
                    AQ(filters)
                        .each(function (item) {
                            item.RemoveClick = function () {
                                self.RemoveFilter(item);
                            }
                        });
                    self.FiltersGrid(filters);

                    // Also refresh the Product and Variant counts
                    self.SelectionCountPreviewModel.Refresh(callback);
                }
            );
        };


        // Assumes the following interfaces: Refresh(reportId, callback), FilterType
        self.ClickOnNewFilterTab = function (newFilterModel, bootstrapTabHref) {
            flow.exec(
                function () {
                    if (self.SelectedFilterModel() == newFilterModel) {
                        return;
                    }
                    self.SelectedFilterModel(newFilterModel);
                    self.RefreshSelectedFilterModel(this);
                },
                function () {
                    ProfitWiseFunctions.BsActivateTab(bootstrapTabHref);
                    $('html,body').animate({ scrollTop: 0 });
                }
            );
        };

        self.ProductTypeClick = function () {
            self.ClickOnNewFilterTab(self.ProductTypeFilterModel, "report-filter-product-type");
        };

        self.VendorClick = function () {
            self.ClickOnNewFilterTab(self.VendorFilterModel, "report-filter-vendor");
        };

        self.MasterProductClick = function () {
            self.ClickOnNewFilterTab(self.MasterProductFilterModel, "report-filter-product");
        };

        self.SkuClick = function () {
            self.ClickOnNewFilterTab(self.SkuFilterModel, "report-filter-sku");
        };



        // Report data bootstrapping function
        self.LoadReport = function (reportId) {
            flow.exec(
                function() {
                    self.ReportId(reportId);

                    self.ProductTypeFilterModel.ReportId(reportId);
                    self.VendorFilterModel.ReportId(reportId);
                    self.MasterProductFilterModel.ReportId(reportId);
                    self.SkuFilterModel.ReportId(reportId);
                    self.SelectionCountPreviewModel.ReportId(reportId);

                    self.RefreshFilterSummary(this);
                },
                function() {
                    self.ProductTypeClick();
                });
        };

        // OK & Cancel buttons
        self.CancelCallback = function () { };

        self.OkCallback = function () { };

        self.CancelButtonClick = function () {
            self.CancelCallback();
        };

        self.OkButtonClick = function () {
            self.OkCallback();
        };

        return self;
    };
</script>

