@using ProfitWise.Data.Model.Reports
@using ProfitWise.Web.Attributes
@{
    Context.AuthenticatedContext().PageTitle = "Inventory Valuation Report";
}

<!-- Dependency Widgets -->
@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SelectorPopoverWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SortingColumnWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_DateRangePickerWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_HighChartsFunctions.cshtml")

@Html.Partial("~/Views/Report/_FilterBullpenWidget.cshtml")
@Html.Partial("~/Views/Report/_SearchAndPagingWidget.cshtml")
@Html.Partial("~/Views/Report/_FilterTemplates.cshtml")
@Html.Partial("~/Views/Report/_ProductCountWidget.cshtml")
@Html.Partial("~/Views/Report/_GoodsOnHandReport.cshtml")
@Html.Partial("~/Views/Report/_ReportEditor.cshtml")
@Html.Partial("~/Views/Report/_ReportManagerAndViewer.cshtml")

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Report-Manager', data: $root }"></div>

<!-- KnockoutJS Model -->
<script>
    var ProfitWise = ProfitWise || {};
    
    ProfitWise.GoodsOnHandTour = new Tour({
        storage: false,
        backdrop: true,
        backdropContainer: 'body',

        steps: [
            {
                orphan: true,
                title: "Inventory Valuation Report",
                content: "The Inventory Valuation Report shows you the value of all the inventory currently in your warehouse. To ensure this report accurately reflects your inventory, make sure to select which products are stocked directly using the Manage Products and CoGS interface. Only products that have the <strong>Stocked Directly</strong> checkbox selected will appear in the Inventory Valuation Report. This allows you to exclude products that you drop-ship from a third party, where no inventory is maintained in your warehouse."
            },
            {
                element: "#report-viewer",
                placement: 'top',
                title: "Inventory Valuation Report",
                content: "The upper portion of this screen is similar to the ProfitWise Dashboard, allowing you to adjust the date range, save reports, edit filters, etc."
            },
            {
                element: "#export-button",
                placement: "bottom",
                title: "Back to Summary",
                content: "Data from the Inventory Valuation Report can be easily exported to a CSV file by clicking here."
            },
        ]
    });


    $(document)
        .ready(function () {
            ProfitWiseFunctions.PopOverAutoCloseInit();
            var model = new ProfitWiseWidgets.ReportManagerModel(@ReportType.GoodsOnHand);
            ko.applyBindings(model);
            model.Initialize(@SystemReportFactory.GoodsOnHandId);
            
            ProfitWise.GoodsOnHandTour.init();
            ProfitWise.GoodsOnHandTour.start();
        });

</script>
