@using ProfitWise.Data.Model.Reports
@using ProfitWise.Web.Attributes
@{
    Context.PullCommonContext().PageTitle = "Goods On Hand Report";
}

<!-- Dependency Widgets -->
@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SelectorPopoverWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SortingColumnWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_DateRangePickerWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_HighChartsFunctions.cshtml")

@Html.Partial("~/Views/Report/_FilterBullpenWidget.cshtml")
@Html.Partial("~/Views/Report/_FilterPagingWidget.cshtml")
@Html.Partial("~/Views/Report/_FilterTemplates.cshtml")
@Html.Partial("~/Views/Report/_ProductCountWidget.cshtml")
@Html.Partial("~/Views/Report/_GoodsOnHandReport.cshtml")
@Html.Partial("~/Views/Report/_ReportEditor.cshtml")
@Html.Partial("~/Views/Report/_ReportManagerAndViewer.cshtml")

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Report-Manager', data: $root }"></div>

<!-- KnockoutJS Model -->
<script>
    $(document)
        .ready(function () {
            ProfitWiseFunctions.PopOverAutoCloseInit();
            var model = new ProfitWiseWidgets.ReportManagerModel(@ReportType.GoodsOnHand);
            ko.applyBindings(model);
            model.Initialize();
        });
</script>
