@using ProfitWise.Web.Models
@model ProductVariantSelectionModel
@{
    ViewBag.CommonContext.PageTitle = @Model.SelectionType + " Selections";
    Layout = "~/Views/Shared/_AuthenticatedPopupLayout.cshtml.cshtml";
}

@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")

<script type="text/html" id="Product-Variant-Selections-Body">
    <div class="fixed-header-container" style="padding-left: 0px; padding-right: 0px;">
        <div class="standard-header-sleeve" style="height: 75px;">
            <!-- This element will track with the scrollbar via JavaScript wiring to onscroll-->
            <div class="standard-header" 
                 style="width:100% !important; min-width: 0 !important; padding-top:20px; padding-right:20px; padding-left:20px; border-bottom: 1px dashed #CCC;">
                <div class="pull-left" data-bind="template: { name: 'Paging-Widget', data: $data.PagingModel }"></div>
                
                <div class="pull-right">
                    <a href="#" data-bind="click: OkClick"
                       style="width:125px;" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> &nbsp;Close</a>
                </div>
            </div>
        </div>
    </div>

    <div style="position: absolute; overflow: auto; width:100%;">
        <div style="height: 75px;"></div>
        <div style="width:100%; background-color:#FFF; overflow:auto; padding-top:0px; padding-left:30px; padding-right: 30px;">
            <table class="table table-striped" >
                <tbody data-bind="foreach: SelectionsGrid">
                <!-- ko if: $parent.IsProductSelection() -->
                <tr>
                    <td>
                        <div data-bind="text: Title"></div>
                        <div data-bind="text: Vendor" style="font-size:0.8em;"></div>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko ifnot: $parent.IsProductSelection() -->
                <tr>
                    <td style="width:50%;" class="overflow-gracefully">
                        <div data-bind="text: ProductTitle"></div>
                        <div data-bind="text: Vendor" style="font-size:0.8em;"></div>
                    </td>
                    <td style="width:50%;" class="overflow-gracefully">
                        <div data-bind="text: VariantTitle"></div>
                        <div data-bind="text: Sku" style="font-size:0.8em;"></div>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</script>

<!-- KnockoutJS Root Element -->
<div data-bind="template: { name: 'Product-Variant-Selections-Body' }"></div>

<style>
    body {
        overflow-y: scroll !important;
        padding: 0px !important;
    }
</style>

<script>
    var ProfitWiseWidgets = ProfitWiseWidgets || {};

    ProfitWiseWidgets.ProductVariantSelections = function () {
        var self = this;
        
        self.ReportId = ko.observable(@Model.Id);
        self.SelectionType = ko.observable('@Model.SelectionType');

        self.IsProductSelection = ko.computed(function() {
            return self.SelectionType() == '@ProductVariantSelectionModel.ProductType';
        });

        self.SelectionsGrid = ko.observableArray();
        
        self.LoadDataForCurrentPage = function () {
            flow.exec(
                function() {
                    var ajax = new ProfitWiseFunctions.Ajax();

                    var urlBase = self.IsProductSelection()
                        ? "/QueryService/ProductSelectionsByPage"
                        : "/QueryService/VariantSelectionsByPage";
                    
                    ajax.HttpGet(urlBase +
                        "?reportId=" + self.ReportId() +
                        "&pageNumber=" + self.PagingModel.PageNumber() +
                        "&pageSize=" + self.PagingModel.PageSize(),
                        this);
                },
                function (data) {
                    AQ(data.Selections)
                        .each(function(item) {
                            item.Vendor = item.Vendor || "(No Vendor)";
                            item.Sku = item.Sku || "(No Sku)";
                        });

                    self.SelectionsGrid(data.Selections);

                    if (self.IsProductSelection()) {
                        self.PagingModel.RecordCount(data.RecordCounts.ProductCount);
                    } else {
                        self.PagingModel.RecordCount(data.RecordCounts.VariantCount);
                    }
                });
        };

        self.OkClick = function () {
            ShopifyApp.Modal.close({ result: true });
        };

        self.PagingModel = new ProfitWiseWidgets.PagingModel();
        self.PagingModel.PageSize(50);
        self.PagingModel.PageNumber(1);
        self.PagingModel.Callback =  self.LoadDataForCurrentPage;
        return self;
    };

    var model = new ProfitWiseWidgets.ProductVariantSelections();
    model.LoadDataForCurrentPage();
    ko.applyBindings(model);
</script>
