@using ProfitWise.Data.Model.Reports
@using ProfitWise.Web.Attributes
@{
    Context.AuthenticatedContext().PageTitle = "Profitability Dashboard";
}

<!-- Dependency Widgets -->
@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SelectorPopoverWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SortingColumnWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_DateRangePickerWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_HighChartsFunctions.cshtml")

@Html.Partial("~/Views/Report/_FilterBullpenWidget.cshtml")
@Html.Partial("~/Views/Report/_SearchAndPagingWidget.cshtml")
@Html.Partial("~/Views/Report/_FilterTemplates.cshtml")
@Html.Partial("~/Views/Report/_ProductCountWidget.cshtml")
@Html.Partial("~/Views/Report/_ProfitabilityReport.cshtml")
@Html.Partial("~/Views/Report/_ReportEditor.cshtml")
@Html.Partial("~/Views/Report/_ReportManagerAndViewer.cshtml")

<!-- KnockoutJS Root Element -->
<div id="root" data-bind="template: { name: 'Report-Manager', data: $root }"></div>

<!-- KnockoutJS Model -->
<script>
    $(document)
        .ready(function () {
            ProfitWiseFunctions.PopOverAutoCloseInit();
            var model = new ProfitWiseWidgets.ReportManagerModel(@ReportType.Profitability);
            ko.applyBindings(model);
            model.Initialize(@SystemReportFactory.OverallProfitabilityId);   




            var tour = new Tour({
                storage: false,
                backdrop: true,
                backdropContainer: '#root',

                steps: [
                {
                    //element: "#report-editor",
                    backdrop: true,
                    backdropContainer: 'body',
                    orphan: true,
                    title: "Welcome to ProfitWise",
                    content:
                        "We are glad that you chose ProfitWise for your Profitability Reportings needs. " +
                        "We going to take you on tour of ProfitWise to ensure you get those most out of the product."
                },
                {
                    element: "#report-viewer-title",
                    placement: "bottom",
                    title: "Report Title",
                    content: "Content of my step"
                }
                ]
            });
            tour.init();
            tour.start();
        });
</script>
