@using ProfitWise.Data.Model.Reports
@using ProfitWise.Data.Model.Shop
@using ProfitWise.Web.Attributes
@{
    Context.AuthenticatedContext().PageTitle = "Profitability Dashboard";
}

<!-- Dependency Widgets -->
@Html.Partial("~/Views/SharedTemplates/_PagingWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SelectorPopoverWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_SortingColumnWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_DateRangePickerWidget.cshtml")
@Html.Partial("~/Views/SharedTemplates/_HighChartsFunctions.cshtml")

@Html.Partial("~/Views/Report/_FilterBullpenWidget.cshtml")
@Html.Partial("~/Views/Report/_SearchAndPagingWidget.cshtml")
@Html.Partial("~/Views/Report/_FilterTemplates.cshtml")
@Html.Partial("~/Views/Report/_ProductCountWidget.cshtml")
@Html.Partial("~/Views/Report/_ProfitabilityReport.cshtml")
@Html.Partial("~/Views/Report/_ReportEditor.cshtml")
@Html.Partial("~/Views/Report/_ReportManagerAndViewer.cshtml")

<!-- KnockoutJS Root Element -->
<div id="root" data-bind="template: { name: 'Report-Manager', data: $root }"></div>

<!-- KnockoutJS Model -->
<script>
    var ProfitWise = ProfitWise || {};

    ProfitWise.ProfitSummaryTour = ProfitWiseFunctions.TourFactory([
        {
            orphan: true,
            title: "Welcome to ProfitWise",
            content: "Welcome to the ProfitWise Dashboard! Here, you can see reports showing your Revenues, Cost of Goods Sold, and Profits. Let's take a look at how to navigate this page and setup reports to see exactly the information you need."
        },
        {
            element: "#report-title-and-summary",
            placement: "bottom",
            title: "Report summary area (upper left)",
            content: "The report summary area shows your report title, the number of products/variants included in the report, filtering options, and grouping (used for the column chart)."
        },
        {
            element: "#report-grouping-selector",
            placement: "right",
            title: "Grouping options",
            content: "Click here to choose grouping options for the main column chart on your report. You can choose to group by Overall (no grouping), Product Type, Vendor, Product, or Variant. The chart will be updated according to your selection."
        },
        {
            element: "#report-viewer-report-selector",
            placement: "left",
            title: "Select Report",
            content: "Click here to open a saved report. At first, only one report is available: Overall Profitability. But you can set up as many custom reports as you like, and once you save them, they'll appear here for easy access."
        },
        {
            element: "#report-date-picker",
            placement: "bottom",
            title: "Date range selector",
            content: "Click here to set the date range for your report. You can choose one of the pre-defined date ranges or enter a custom date range."
        },
        {
            element: "#edit-filters-button",
            placement: "left",
            title: "Edit report filters",
            content: "Click here (or the Edit Filters button on the right side of the screen) to setup your report filters."
        },
        {
            element: "#save-as-section",
            placement: "bottom",
            title: "Save As",
            content: "Once you have your report setup the way you want, click here to save the report with a custom name. The saved report will then be available from the Select Report drop-down."
        },
        {
            element: "#main-chart",
            placement: "bottom",
            title: "Main Chart",
            content: "Clicking elements within the main chart allows you to drill-down into the selected data element. There are different drill-down options available, depending on the date range and grouping options you have selected."
        },
        {
            element: "#summary-charts",
            placement: "top",
            title: "Summary Tables",
            content: "Below the main chart, there are four summary tables presented, each with a pie chart. These tables show your Top Products, Top Vendors, Top Variants, and Top Product Types. Each table has a button in the upper right corner for accessing a more detailed report."
        },
    ]);

    ProfitWise.ProfitDetailTour = ProfitWiseFunctions.TourFactory([
        {
            orphan: true,
            title: "Profit Detail",
            content: "The detailed reports are similar to the main report presented on the ProfitWise Dashboard, except that they focus on a particular data dimension (Product, Vendor, Variant, or Product Type, depending on which item you selected). The upper region of the report is very similar to the ProfitWise Dashboard, allowing you to adjust the date range, save reports, edit filters, etc."
        },
        {
            element: "#export-button",
            placement: "bottom",
            title: "Data Export",
            content: "One key difference with the detailed report views is that data can be exported to a CSV file, allowing you to open it in third party programs like Microsoft Excel. Clicking the export button will export all of the data for the currently selected date range and filters."
        },
        {
            element: "#back-to-summary",
            placement: "bottom",
            title: "Back to Summary",
            content: "Click here to return to the main ProfitWise Dashboard."
        },
    ]);


    $(document)
        .ready(function () {
            ProfitWiseFunctions.PopOverAutoCloseInit();
            var model = new ProfitWiseWidgets.ReportManagerModel(@ReportType.Profitability);
            ko.applyBindings(model);
            model.Initialize(@SystemReportFactory.OverallProfitabilityId);

            var tourStateJs = @Html.Raw(Context.CurrentUserTourStateJson());
            if (tourStateJs[@TourIdentifiers.ShowProfitabilityDashboard]) {
                ProfitWiseFunctions.ShowTour(@TourIdentifiers.ShowProfitabilityDashboard);
                ProfitWise.ProfitSummaryTour.start();
            }
        });
</script>
