@using Microsoft.Owin.Security
@using ProfitWise.Web.Models
@model LoginViewModel

<div class="admin-arena">
    <h2>ProfitWise Admin Login</h2>
    
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Login", "AdminAuth", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4>Enter Your ProfitWise Admin Credentials</h4>
                <hr/>

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login to ProfitWise Admin" class="btn btn-default"/>
                    </div>
                </div>

                <!--
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
                -->
            }
        </div>

        <div class="col-md-1">
            
        </div>

        <div class="col-md-5">
            @using (Html.BeginForm("ExternalLogin", "AdminAuth"))
            {
                @Html.AntiForgeryToken()
                <h4>Login to ProfitWise as a Shop</h4>
                <hr />

                <div id="socialLoginList">
                    <div class="form-group">
                        <label>Enter Full Shop Url <span style="font-weight: 400;">e.g. shopname.myshopify.com</span></label>
                        <input class="form-control" name="shop" id="shop" style="margin-bottom: 8px;" />
                    </div>
                    <button type="submit" class="btn btn-default">
                        Login to ProfitWise
                    </button>
                </div>
            }
        </div>
    </div>
</div>

